@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');

 /* Бывает так, что некоторые свойства в элементах не отрабатываются, для этого
 нужно поглядывать в консоль и смотреть какие свойства, 
 установленные автоматически браузером, мешают
 установить нам тот или иной стиль*/

body {
    background-color:#f1f1f1;
    color: rgb(187, 85, 85);
    font-size: 16px;
    font-weight: normal;
    font-family: 'Jura', sans-serif ; /*(или записать все в одном элементе) font: normal 16px 'Jura', sans-serif;*/
}

a {
    color: brown;
    text-decoration: none;
}
a:hover {
    text-decoration:underline;
}
/*a:active {
    color: rgb(53, 16, 164);
}*/
/*a:visited {
    color: rgb(112, 93, 130);
}*/

.lady {
    width: 200px;
    border-radius:28px;
    box-shadow: 4px 5px 13px rgba(0, 0, 0, 0.25);
}

.info {
    display: flex; /*если сделать так, что блоки пойдут друг за другом,
    и будет черти-что потому что СИЭСЭС выравнимает нам все элементы, которые были дочерними в блоке инфо*/

    color: rgb(139, 58, 4);
    margin: 0px;
    font-style: italic;
    font-weight:bold;
    /*text-decoration: underline;*/
    /*letter-spacing: 5px;*/
    /*word-spacing: 42px;*/
}

/*я хочу расположить текст и аватар в одну строчку и мне лоя этого необходимо сгруппировать
    элементы -задать им снова дивы и классы*//*нижe под инфо прописаны стили*/

.about {
    margin-left: 45px;
}    
.about h1 {
    margin-bottom: 10px;
}

/*АДАПТИВЫ под мобильные устр-ва*/

 /*тут указано макс знач экрана при котром 
будут применяться свойства-изменения, прописанные ниже,
некоторые сво-ва не могут работать из-за грамматических ошибок*/
@media (max-width: 700px){ 
    .info  { /*тут мы выровняли текст и аву под прбильное устр-во*/
        text-align: center; /*теперь текст выравнится по центру*/
        display:block; /*и станет блочным*/
    }
}

.sotial {
    margin-bottom: 20px;
}

/*Box Model Это нужно понять, внизу пример*/
.container{
    /*width: 100%;*/ /*100% по умолчаниую установлена браузером ширина,
     которая есть у родителя*/ 
     /*можно еще в пх указывать размер, то есть если мы укажем 300пх
    то сайт станет узким вмесесте соьвсеми его дочерними элементами*/
    max-width: 950px; /*максимальная ширина сайта,как пример,
     которая будет занимать на моб устройствах. это как вариант адаптива*/
    margin: auto;
    padding-top:22px;
}

.sotial {
    background: #b9ac8a;
    padding: 5px 20px 35px 20px;
    border: 5px solid rgb(138, 37, 37);
    margin: 20px;
}

/*Если мне нужно, чтобы такой стиль, как ниже, применился ко
всем блокам, то прописываю то, что внизу*/
.blocks {
    padding: 15px 20px;
    /*background-color: rgb(232, 206, 175);*/
    margin-bottom: 20px;
    border-radius:20px;
}
 /*чтобы применить стиль отдельно к каждому блоку, нуобходимо 
 прописать следующее:*/
/*Обратимся к каждому классу, задав ему логичное название*/
/*они у меня не заработали*/

 h2 {
    margin-top: 10px;
    padding-left: 20px;
}


.bg-hobby {
background:rgb(215, 193, 166); /*тут я окрасила каждую карточку в определенный цвет*/
}
.bg-blog {
background: rgb(216, 203, 188);
}
.bg-work {
background: rgb(220, 181, 133);
}
.bg-tel {
background: rgb(176, 158, 136);
}

.blocks h2 {
    margin-bottom:5px;
}

.list {
    padding: 0 20px;
    /*list-style: none; нужно, чтобы убрать сво-ва ul и ol*/
}
.list li {
    color: darkmagenta;
    margin-bottom: 10px;
    /*border-bottom: #f1f1f1 solid 1px;*/

}

.tablitsa {
    width:100%;
}
.tablitsa td {
    /*margin-bottom: 10px;*/
 /* Бывает так, что некоторые свойства в элемантах не отрабатываются, для этого
 нужно поглядывать в консоль и смотреть какие свойства, 
 установленные автоматически браузером, мешают
 установить нам тот или иной стиль*/
    padding-bottom: 10px;
}

/*.colorashobby {
 color: darkmagenta;} /*добавлен цвет лишь к первому столбцу*/

td:nth-child(2),
td:nth-child(3) { /*здесь мы гоаорим какой по порядку элемент 
    необходимо стилизовать. в скобках указываю 1, тогда первая колонка/
    столбец стилизуется*/
    color: darkmagenta; /*можно выбирать элементы и точечно их стилизовать*/
}
/*tr:nth-child(even){
    background: #b9ac8a;} /*подкрашевается каждя четная строка*/

/*tr:nth-child(odd){
    background: #867c64;} /*подкрашевается каждя HEчетная строка*/

.ul-style {
    list-style: url('151515.png');
    padding-left: 40px;
}

.id{
    list-style: url('121212.png');
}


.ul-style li {
    margin-bottom: 15px;
    padding-bottom: 5px;

}

.ul-it {
    list-style: url('3322.png');
}
 
/*теперь зададим стилистику последней карточке "связь со мной"*/
.contact h2 { /*где заголовок располагаем посередине*/
    text-align: center;
}
.form-group label {
    display: block; /*располагаем строчные элементы в блочный с помощью block*/
    font-size: 14px; 
    color: blanchedalmond;
}

.form-group input, .form-group textarea { /*обращай внимание на запятые 
    -их нужно ставить, чтобы все работало корректно*/
    width: 100%; 
    box-sizing: border-box; 
    border: none; /*цбираем базову границу бокса*/
    background: transparent; /*поле ввода станет прозрачным(или того же цвета,что и фон док-та), но если нажать курсором на поле, то его станет видно*/
    border-bottom: 1px solid #6a6350; /*хотя я и обнулила границы выше, я хочу все-таки выделить нижнюю границу*/
    color: rgb(8, 8, 8); /*какого цвета будет текст ввода*/
    padding: 15px 5px 10px; /*наши блоки стали немного объемнее*/
    outline: none; /*при нажатии на поле ввода сильно выделяется рамкой, но мы его убрали*/
    font-family: inherit; /*это значит, что теперь текст с обычным шрифтом "введите .." унаследовал шрифт самого документа
                            и теперь текст, который мы вводим такого же грифта, как в самом документе*/

}    

.name-email {
    display: flex;
    margin-bottom: 20px;
}
.name-email > .form-group { /*каждый блок занимает по 50% ширины блока*/
    width: 50%;
    margin-right: 20px; 
}
.name-email .form-group:last-child /*(:last-child это псевдоселектор)*/ { /*тут мы указали последний элемент, у которого марджин 
    должен равняться 0. а можно сделать так, чтобы марджин у второго или другого марджин был нами также задан*/
    margin-right: 0; /*блок ваш эмайл, точнее линия, который подчеркивает блок эмаил имеет отступ с края справа 0*/

}

.knp {
    background: rgb(153, 100, 80);
    padding: 15px 20px;
    color:blanchedalmond;
    border:none;
    font-family:inherit;
    cursor:pointer;
}
.knp:hover {
    opacity: 0.9; /*при наведении мыши на кнопку, цвет кнопки немного меняется*/
}

/*Position*/
/*.position {
    position: relative; относительное нахождение бокса, обязяательно задаем такое 
    значение родителю, теперь, если в боксе указано боотон 50пх, то бокс относително
    посишн-элемента будет находиться сверху 50пх*/
 /*border: 4px solid black ;
 margin-top: 40px;
 padding: 20px;
 height: 300px;
}*/
 
    /*position:static; помимо флекс есть еще и по умолчанию статик, если задаем это свойство
    то элемент никуда не улетает*/
    /*position:absolute;в таком случае блок будто не видит, что контент находится внутри блока
    мы можем управлять этим боксом размещая его там, где нам захочется, например снизу
    просто есои прописать bottop:50px; и бокс улетит вверх, или указать лефт = 0, то 
    бокс будет прилплеснут к левой стороне сайта*/
    /*bottom: 150px */
    /*left: 0px;*/
    /*bottom: 0;*/

    /*.box { 
        position: fixed;  часто используемый. теперь бокс позиционируется отностельно окна,на который мы смотрим*/
    /*width: 50px;
    height: 50px ;
   background:aqua;*/
   /*сделаем bокс круглым и зафиксированным снизу*/
   /*bottom: 50px;
   right: 50px;
   border-radius: 50%;
    }*/